.users {
    display: flex;
    flex-wrap: wrap;
}
.friend {
    display: inline-block;
    margin: 10px;
    color: white;
}
.friendText {
    margin: 0 0 8px 8px;
}
.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 10px;
}
.friendSideBar {
    margin-top: 100px;

}
.follow {
    margin: 0 0 0 10px;
}
.name {
    margin: 10px 0 0 10px;
}
.getUsers {
    margin: 10px 0 0 10px;
}

