.users {
    display: flex;
    flex-wrap: wrap;
}
.friend {
    display: inline-block;
    margin: 10px;
    color: white;
}
.friendText {
    margin: 0 0 8px 8px;
}

.friendSideBar {
    margin-top: 100px;

}


.getUsers {
    margin: 10px 0 0 10px;
}

