.header {
    grid-area: header;
    background-color: orchid;
    color:white;
    text-shadow: 1px 1px 3px dimgrey;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none;

}
.loginBlock {
    float: right;

}
.loginBlock a {
    color:white;
    text-decoration: none;
}
